
.coursePercentage{
    display: flex;
    justify-content: space-between;
}

.graphic{
    margin-left: 20px;
}
    
.settingButton{
    display: flex;
    position: absolute;
    top: 500px;
}