.wrap{
    position:relative;
    display:flex;
    flex-direction:row;
}
.card{
    background-color:#9ea9b1!important;
    opacity: 0.7;
    height: 290px;
}
.containerCards{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}
