.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.letterEdit{
    color:#fff;
    margin-bottom:0;
}
.count{
    color:#fff;
    margin-bottom:0;
}
.register{
    color:#149376;
    margin-bottom:0;
}